In [1]:
! pip install scikit-learn
! pip install matplotlib
! pip install pickle
! pip install seaborn

Requirement already satisfied: scikit-learn in c:\users\psk\anaconda3\lib\site-packages (0.20.3)
Requirement already satisfied: numpy>=1.8.2 in c:\users\psk\anaconda3\lib\site-packages (from scikit-learn) (1.17.4)
Requirement already satisfied: scipy>=0.13.3 in c:\users\psk\anaconda3\lib\site-packages (from scikit-learn) (1.2.1)
Requirement already satisfied: matplotlib in c:\users\psk\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: numpy>=1.10.0 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib) (1.17.4)
Requirement already satisfied: cycler>=0.10 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: six in c:\users\psk\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\psk\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (44.0.0)
Collecting pickle

  Could not find a version that satisfies the requirement pickle (from versions: )
No matching distribution found for pickle

Requirement already satisfied: seaborn in c:\users\psk\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: pandas>=0.15.2 in c:\users\psk\anaconda3\lib\site-packages (from seaborn) (0.24.2)
Requirement already satisfied: scipy>=0.14.0 in c:\users\psk\anaconda3\lib\site-packages (from seaborn) (1.2.1)
Requirement already satisfied: numpy>=1.9.3 in c:\users\psk\anaconda3\lib\site-packages (from seaborn) (1.17.4)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\psk\anaconda3\lib\site-packages (from seaborn) (3.0.3)
Requirement already satisfied: pytz>=2011k in c:\users\psk\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\psk\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2.8.0)
Requirement already satisfied: cycler>=0.10 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\psk\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.3.1)
Requirement already satisfied: six>=1.5 in c:\users\psk\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.15.2->seaborn) (1.12.0)
Requirement already satisfied: setuptools in c:\users\psk\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (44.0.0)

In [1]:
import numpy as np
import pandas as pd

In [2]:
load_data_backup = pd.read_csv('loan.csv')

C:\Users\PSK\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# we can use the below line of ocode to display all the columns at aonce
pd.options.display.max_columns = None

In [4]:
load_data_backup.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,NaN,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
loan_data = load_data_backup.copy()

In [6]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'revol_bal_joint',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag',
       'hardship_type', 'hardship_reason', 'hardship_status',
       'deferral_term', 'hardship_amount', 'hardship_start_date',
       'hardship_end_date', 'payment_plan_start_date', 'hardship_length',
       'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status',
       'settlement_date', 'settlement_amount', 'settlement_percentage',
       'settlement_term'], dtype=object)

In [7]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

# General Pre-Processing

###  Pre-Processing of Continuous Variables

In [26]:
loan_data['emp_length'].unique()
#loan_data['emp_length_int'].unique()

array(['10+ years', '6 years', '4 years', '< 1 year', '2 years',
       '9 years', nan, '5 years', '3 years', '7 years', '1 year',
       '8 years'], dtype=object)

In [34]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years','')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year',str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years','')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year','')

In [37]:
type(loan_data['emp_length_int'][0])

str

In [41]:
loan_data['emp_length_int'].unique()

array(['10', '6', '4', '0', '2', '9', nan, '5', '3', '7', '1', '8'],
      dtype=object)

In [42]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [44]:
loan_data['term_int'] = loan_data['term'].str.replace(' months','')
loan_data['term_int'] = loan_data['term_int'].str.replace(' ','')

In [45]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [46]:
#Extracts the date and the time from a string variable that is in a given format.
loan_data['earliest_cr_line_date'] = pd.to_datetime(load_data_backup['earliest_cr_line'], format = '%b-%Y')

In [47]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [48]:
#Converting the difference from today's date to months
loan_data['months_sicnce_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2020-04-01')-loan_data['earliest_cr_line_date'])/np.timedelta64(1,'M')))

In [51]:
loan_data['months_sicnce_earliest_cr_line'].describe().apply(lambda x: format(x, 'f'))

count    2260639.000000
mean         243.689104
std           94.167224
min           53.000000
25%          179.000000
50%          228.000000
75%          293.000000
max         1045.000000
Name: months_sicnce_earliest_cr_line, dtype: object

In [55]:
# I am checking for the negative values because if the dataset is updated and we get somekind of data which results in negative value
#check whether threr is some negative values in the data frame 
#loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_sicnce_earliest_cr_line']][loan_data['months_sicnce_earliest_cr_line'] < 0]

In [56]:
#if there are some negative values due to future dates I will handle the negative difference by replacing the max difference in place of negative values

#loan_data['months_sicnce_earliest_cr_line'][loan_data['months_sicnce_earliest_cr_line'] < 0] = loan_data['months_sicnce_earliest_cr_line'].max()

In [57]:
min(loan_data['months_sicnce_earliest_cr_line'])

53.0

#### Pre-Processing term and issue_d variable

In [58]:
type(loan_data['term'][0])

str

In [59]:
loan_data['term'] = loan_data['term'].str.replace('months','')
loan_data['term'] = loan_data['term'].str.replace('          ','')

In [60]:
loan_data['term_int'] = pd.to_numeric(loan_data['term'])

In [61]:
type(loan_data['term_int'][0])

numpy.int64

In [ ]:
#Extracts the date and the time from a string variable that is in a given format.
loan_data['issue_d'] = pd.to_datetime(load_data_backup['issue_d'], format = '%b-%Y')

In [ ]:
#Converting the difference from today's date to months
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2020-04-01')-loan_data['issue_d'])/np.timedelta64(1,'M')))

In [ ]:
loan_data['mths_since_issue_d'].describe().apply(lambda x: format(x, 'f'))

### Pre-Processing the Discrete data 

for discrete data we will be creating dummy data.We only need n-1 dummy variables for n categories 

1.Grade

2.Sub_grade

3.home_ownership

4.loan_status

5.addr_state

6.purpose

7.initial_list_status

In [ ]:
# we will create a new dataframe of the dummy variables and then we will concatenate it with the loan_data
loan_data_dummies = [pd.get_dummies(loan_data['grade'],prefix = 'grade',prefix_sep = ':'),
                    pd.get_dummies(loan_data['sub_grade'],prefix = 'sub_grade',prefix_sep = ':'),
                    pd.get_dummies(loan_data['home_ownership'],prefix ='home_ownership',prefix_sep = ':'),
                    pd.get_dummies(loan_data['verification_status'],prefix ='verification_status',prefix_sep = ':'),
                    pd.get_dummies(loan_data['loan_status'],prefix ='loan_status',prefix_sep = ':'),
                    pd.get_dummies(loan_data['purpose'],prefix ='purpose',prefix_sep = ':'),
                    pd.get_dummies(loan_data['addr_state'],prefix ='addr_state',prefix_sep = ':'),
                    pd.get_dummies(loan_data['initial_list_status'],prefix ='initial_list_status',prefix_sep = ':')]

In [ ]:
loan_data_dummies = pd.concat(loan_data_dummies,axis = 1)

In [ ]:
type(loan_data_dummies)

In [ ]:
# axis = 1 means the concatenatin will be done column wise(variable wise)
# axis = 0 means the concatenation will be donr using row wise(observation wise)
loan_data = pd.concat([loan_data,loan_data_dummies],axis = 1)

# Dealing with Missing Value

In [ ]:
loan_data.isnull()

Variable we need for the analysis :
annual_inc

delinq_2yrs

inq_last_6mths

open_acc

pub_rec

total_acc

acc_now_delinq

total_rev_hi_lim

emp_length_int

mths_since_earliest_cr_line

In [ ]:
pd.options.display.max_rows = None
loan_data.isnull().sum()

In [ ]:
#for the revolving limiti we are assuming that it is equal to the funded amount
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace = True)

In [ ]:
loan_data['total_rev_hi_lim'].isnull().sum()

In [ ]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [ ]:
loan_data['annual_inc'].isnull().sum()

In [ ]:
loan_data['months_sicnce_earliest_cr_line'].fillna(0, inplace=True)
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)

# Probability of Default Model or PD Model
### PD models should be interetable by common man, because most of the time it will be used by the regulators.

# What is a PD model ?

#### Probability of default is a financial term describing the likelihood of a default over a particular time horizon. It provides an estimate of the likelihood that a borrower will be unable to meet its debt obligations. PD is used in a variety of credit analyses and risk management frameworks

In [ ]:
loan_data['loan_status'].unique()

In [ ]:
((loan_data['loan_status'].value_counts()/loan_data['loan_status'].count())*100)

We will use LOgistics Regression for the PD model

1. We need to figure out the relationship in between dependent variable and independent variable
2. We will estimate regression co-efficient of each of the varibale 
3. We will use positive co-efficients for higher credit worthiness, so in short Potive co-efficient means Good

In [ ]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off', 'Default',
                                                       'Does not meet the credit policy. Status:Charged Off',
                                                       'Late (31-120 days)','Late (16-30 days)']),0,1)

In [ ]:
loan_data['good_bad']

### Splitting the Data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Takes a set of inputs and a set of targets as arguments. Splits the inputs and the targets into four dataframes:
# Inputs - Train, Inputs - Test, Targets - Train, Targets - Test.
# We split two dataframes with inputs and targets, each into a train and test dataframe, and store them in variables.
train_test_split(loan_data.drop('good_bad',axis = 1),loan_data['good_bad'])

In [ ]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'])

In [ ]:
# This time we set the size of the test dataset to be 20%.
# Respectively, the size of the train dataset becomes 80%.
# Random_State parameter helps us to do the same random shuffle of dataset, its just works like Random.seed()

loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'], test_size = 0.2, random_state = 42)